mixin contacts()
  +b.SECTION.contacts(id='contacts')
    +e.H2.title Контакти компанії
    +e.item
      +e.item-icon.teleg-icon
      +e.item-text +38 (098) 936-55-91
    +e.item
      +e.item-icon.vider-icon
      +e.item-text +38 (073) 936-55-91
    +e.email remontztzt@gmail.com
    +e.ADDRESS.address Житомир, вул. Небесної сотні, 44
    +e.sv
      +e.A(href='#')
        <svg xmlns="http://www.w3.org/2000/svg" width="7.125" height="14.19" viewBox="0 0 7.125 14.19">
          <path id="Forma_1_копия_11" data-name="Forma 1 копия 11" class="cls-1" d="M473.927,4031.18v-1.77a0.891,0.891,0,0,1,.889-0.89h0.889v-2.22h-1.778a2.663,2.663,0,0,0-2.667,2.66v2.22h-1.778v2.21h1.778v7.09h2.667v-7.09h1.778l0.889-2.21h-2.667Z" transform="translate(-469.469 -4026.31)"/>
        </svg>
      +e.A(href='#')
        <svg xmlns="http://www.w3.org/2000/svg" width="13.843" height="11.03" viewBox="0 0 13.843 11.03">
          <path id="Forma_1_копия_10" data-name="Forma 1 копия 10" class="cls-1" d="M524.4,4029.58a6,6,0,0,1-1.633.44,2.811,2.811,0,0,0,1.247-1.54,5.587,5.587,0,0,1-1.8.67,2.88,2.88,0,0,0-2.071-.88,2.81,2.81,0,0,0-2.833,2.79,2.748,2.748,0,0,0,.066.63,8.062,8.062,0,0,1-5.844-2.91,2.751,2.751,0,0,0,.871,3.72,2.912,2.912,0,0,1-1.28-.34v0.03a2.807,2.807,0,0,0,2.271,2.73,2.966,2.966,0,0,1-.743.09,3.158,3.158,0,0,1-.537-0.04,2.865,2.865,0,0,0,2.649,1.94,5.764,5.764,0,0,1-3.515,1.18,5.056,5.056,0,0,1-.679-0.04,8.051,8.051,0,0,0,4.35,1.25,7.935,7.935,0,0,0,8.069-7.92c0-.12,0-0.24-0.011-0.36A5.59,5.59,0,0,0,524.4,4029.58Z" transform="translate(-510.563 -4028.28)"/>
        </svg>
      +e.A(href='#')
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" viewBox="0 0 15 15">
          <image id="L0001_копия" data-name="L0001 копия" width="15" height="15" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABBUlEQVQokZ3RzypGURQF8J/PZWZipIy8gVL+TDyAhGJqxsRTyAPIxMQMZaJQXsDI3IARkpIyQygRbZ1b1+n4+rJrD846e5291jowiD084g2vbfodX3jGbpDXE9BJP+AwLYmzgw6Jn5jDGFYCqxJYqiOcJOIk5tGDqt5aFUjhawk3mEULm+mxsHiKqXp4P5O3hpmkqIkvYDXDfpEjiAmcFzxfYRwvNdbKJMd3dGOgYCewmH+qgZzcl7CLAjnUxF1/E8w972AEtw3sDqPYas6W0l7EPaYxjC6cpcCW8+F8c93XScU2LkszsTkCKtVQ6j8rAghJ/6rYvIHe5DFU/Hx+m4oMPnD8DdKAcKsw5dlQAAAAAElFTkSuQmCC"/>
        </svg>





