.contacts
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 2
  grid-row-end: 3
  margin-top: 95px
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__title
    display: none
    margin-bottom: 68px
    font-size: 42px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 1.14
    letter-spacing: 0.84px
    text-align: center
    color: #000000
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
      display: block
    @media #{$_xs}
  &__item
    margin-bottom: 41px
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-icon
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-text
      font-size: 30px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      // line-height: 1.2
      letter-spacing: 2px
      text-align: center
      color: #000000
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
  &__email
    margin-top: 50px
    margin-bottom: 18px
    font-size: 30px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    // line-height: 1.2
    letter-spacing: 2px
    text-align: center
    color: #000000
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__address
    font-size: 30px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    // line-height: 1.2
    letter-spacing: 2px
    text-align: center
    color: #000000
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__sv
    display: flex
    justify-content: center
    margin: 55px auto 42px
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    a
      display: flex
      justify-content: center
      align-items: center
      width: 28px
      height: 28px
      margin: 0 8px
      border: solid 2px #000000
      border-radius: 14px
      // background-color: #ffba00
      transition: all .3s
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:hover
        background-color: #ffba00
      svg
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
  