mixin contacts()
  +b.SECTION.contacts
    +e.item
      +e.item-icon 
      +e.item-text +38 (098) 936-55-91
    +e.item
      +e.item-icon
      +e.item-text +38 (073) 936-55-91
    +e.email remontztzt@gmail.com
    +e.ADDRESS.address Житомир, вул. Небесної сотні, 44
    +e.sv
      +e.A(href='')
        svg
      +e.A(href='')
        svg
      +e.A(href='')
        svg




