mixin binner()
  +b.SECTION.binner
    +e.nav-line
      +e.NAV.nav-nav.inner-container
        +e.UL
          +e.LI.active
            +e.A(href="") РЕМОНТ КВАРТИРЫ
          +e.LI
            +e.A(href="") РЕМОНТ ОФИСОВ
          +e.LI
            +e.A(href="") РЕМОНТ ВАННОЙ
          +e.LI
            +e.A(href="") МАШИННАЯ ШТУКАТУРКА СТЕН
          +e.LI
            +e.A(href="") БЕЗВОЗДУШНАЯ ПОКРАСКА
    +e.breadcrumbs
      .inner-container
        ul
          li
            a(href="#").breadcrumb-item Главная
          li
            a(href="#").breadcrumb-item Блог
          li
            a(href="#").breadcrumb-item.active Планирование ремонта квартиры
    +e.content
      .inner-container
        h1 Планирование ремонта квартиры
        p Залогом успеха отличного результата ремонтных 
          |работ является правильное планирование ремонта квартиры. 
          |Каждый человек по-своему представляет этот процесс, а слово 
          |«правильное» имеет разнообразный смысл. 
          |В этой статьи мы «откроем занавес» правильного 
          |планирования ремонта, приведем пошаговую инструкцию 
          |исполнения данных работ.
        img(src="images/bi-1.jpg" alt="Picture")
        blockquote
          p Не зависимо от того вторичное у вас жилье или квартира 
            |в новостройке – четкий план действий все равно 
            |необходим.Единственным весомым аргументом является то, 
            |что ремонт в не жилой квартире делать на много проще.
          p Теперь каждый из Вас задался вопросом: «Что именно должен 
            |включать в себя продуманный, но самое важное эффективный 
            |<mark>план действий</mark>?». Итак, разложив <mark>«по полочкам»</mark> схема 
            |ремонта квартиры выглядит следующим образом.
        img(src="images/bi-2.jpg" alt="Picture")
        p Первое место в нашем топ-списке занимает проект дизайна, 
          |то есть четко спланированный интерьер, который включает 
          |цветовую гамму, расстановку мебели и другое.В данном 
          |вопросе можно обратиться за помощью к дизайнеру или 
          |же самостоятельно изучить креативные идеи в журналах, 
          |интернет источниках. Также, обязательно нужно правильно 
          |просчитать высоту, ширину, длину помещений для покупки 
          |необходимых строительных материалов. В этом вопросе Вам 
          |(если конечно потребуется) придут на помощь строительные 
          |фирмы. Данный этап – главное звено цепочки, ведь именно 
          |от замеров и дизайн-проекта будет отталкиваться дальнейшая работа.
        p Если квартира жилая и во время ремонта Вам не куда 
          |съехать, то необходимо правильно рассчитать 
          |последовательность проведения ремонтных действий 
          |(с чего начать, куда удобнее переставить мебель 
          |и т.д.). Этот этап будет актуальным и для жилья 
          |в новостройке, ведь нужно учитывать тот факт, 
          |что Вам придется привлечь специалистов ЖЭКа.
    +e.similar
      .inner-container
        +e.H3.similar-title Схожі статті
        +e.similar-nav
          +e.BUTTON.similar-prev.slider-nav
          +e.BUTTON.similar-next.slider-nav
        +e.similar-slider.swiper-container
          +e.similar-wrapper.swiper-wrapper
            +e.similar-item.swiper-slide
              +e.similar-show
                +e.similar-show-wrap
                  +e.IMG(src="images/port_slide-before.jpg")
              +e.similar-info
                +e.similar-text
                  +e.H5 Планирование ремонта квартиры.
                  +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
                +e.BUTTON.similar-btn.style--btn Читать дальше
            +e.similar-item.swiper-slide
              +e.similar-show
                +e.similar-show-wrap
                  +e.IMG(src="images/port_slide-before.jpg")
              +e.similar-info
                +e.similar-text
                  +e.H5 Планирование ремонта квартиры.
                  +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
                +e.BUTTON.similar-btn.style--btn Читать дальше
            +e.similar-item.swiper-slide
              +e.similar-show
                +e.similar-show-wrap
                  +e.IMG(src="images/port_slide-before.jpg")
              +e.similar-info
                +e.similar-text
                  +e.H5 Планирование ремонта квартиры.
                  +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
                +e.BUTTON.similar-btn.style--btn Читать дальше
            +e.similar-item.swiper-slide
              +e.similar-show
                +e.similar-show-wrap
                  +e.IMG(src="images/port_slide-before.jpg")
              +e.similar-info
                +e.similar-text
                  +e.H5 Планирование ремонта квартиры.
                  +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
                +e.BUTTON.similar-btn.style--btn Читать дальше
