.reviews
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__wrap
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__slider
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &:before
      display: block
      width: 83px
      height: 59px
      content: ''
      background: url(../images/dec__circles.png)
    &-prev
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:after
        margin-left: 12px
        transform: rotate(-135deg)
    &-next
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:after
        margin-right: 12px
        transform: rotate(45deg)
  &__item
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    h5
      font-size: 24px
      font-weight: bold
      line-height: 2
      letter-spacing: 0.48px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    p
      font-size: 16px
      font-weight: 500
      font-stretch: normal
      font-style: normal
      line-height: 1.88
      letter-spacing: 0.32px
      text-align: center
      color: #000000
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-img
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &-wrap
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
    &-btn
      font-size: 12px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 6.33
      letter-spacing: 0.24px
      text-align: center
      color: #161616
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-sv-block
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-sv-item
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      a
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
        svg
          @media #{$_lg}
          @media #{$_md}
          @media #{$_sm}
          @media #{$_xs}