.map
  overflow: hidden
  max-width: 1905px
  margin: 0 auto
  @media #{$_lg}
  @media #{$_md}
    
  @media #{$_sm}
    max-height: 600px
  @media #{$_xs}
    max-height: 400px
  &-img
    max-width: 1905px
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}