html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template,
[hidden] {
  display: none;
}

/***********************MEDIA QUERIES***********************/

/***********************COLORS & FONTS***********************/

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  width: 1700px;
  max-width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: Geometria;
}

body {
  overflow-x: hidden;
}

.container {
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.second--block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 800px 800px auto;
  grid-template-columns: auto 800px 800px auto;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  background: #ffc600;
}

.third--block {
  background: url(../images/bg__3s.jpg) center right;
  background-repeat: no-repeat;
}

.style--btn {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 9px 13px 0 rgba(0, 1, 2, 0.14);
  border: solid 3px #ffffff;
  background-color: #00fce2;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.42px;
  text-align: center;
  color: #161616;
  transition: all .3s;
}

.style--btn:hover {
  background: #ffc70a;
}

.twentytwenty-overlay:hover {
  background: transparent;
}

.twentytwenty-handle {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  box-shadow: 0px 9px 13px 0 rgba(0, 1, 2, 0.14);
  border: solid 3px #ffffff;
  background-color: #00fce2;
  outline: none;
}

.twentytwenty-left-arrow {
  border-right-color: black;
}

.twentytwenty-right-arrow {
  border-left-color: black;
}

.ui-widget.ui-widget-content {
  padding: 0;
  border: none;
  background: white;
  box-shadow: 0px 5px 12px 0 rgba(0, 1, 2, 0.14);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ui-menu .ui-menu-item {
  background: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
}

.ui-menu .ui-menu-item:hover {
  background-color: rgba(0, 252, 226, 0.25);
}

.ui-menu .ui-menu-item-wrapper {
  width: 100%;
  padding-left: 49px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none;
  background-color: transparent;
  color: black;
}

.slider-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 89px;
  height: 89px;
  object-fit: contain;
  box-shadow: 0px 21px 21px 0 rgba(0, 1, 2, 0.14);
  border: solid 3px #ffffff;
  border-radius: 20px;
  background-color: #00fce2;
  transition: all .3s;
}

.slider-nav:hover {
  background-color: #ffc70a;
}

.slider-nav:after {
  display: block;
  content: '';
  width: 19px;
  height: 19px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header {
  max-width: 100%;
  height: 128px;
  box-shadow: 0px 21px 21px 0 rgba(0, 1, 2, 0.14);
}

.header__container {
  height: 100%;
}

.header__wrap {
  max-width: 1815px;
  height: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  margin: 10px 0 0 28px;
}

.header__menu {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu-list {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.header__menu-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 3%;
}

.header__menu-item.active:after,
.header__menu-item:hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 43px;
  height: 1px;
  background-color: #00fce2;
}

.header__menu-link {
  font-family: 'Geometria';
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.42px;
  text-align: center;
  color: #0e0e0e;
}

.header__get-call {
  width: 430px;
  height: 67px;
  margin-right: 4.36%;
  object-fit: contain;
  box-shadow: 0px 9px 13px 0 rgba(0, 1, 2, 0.14);
  border: solid 3px #ffffff;
  border-radius: 15px;
  background-color: #00fce2;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.32px;
  text-align: center;
  color: #161616;
}

.header__phone {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.42px;
  white-space: nowrap;
  text-align: center;
  color: #ffc600;
  transition: all .3s;
}

.header__phone:hover {
  text-shadow: 0 2px 5px rgba(250, 200, 0, 0.5);
}

.first {
  background: url(../images/bg__1s.jpg) center right;
  background-repeat: no-repeat;
}

.first .container {
  z-index: 2;
  position: relative;
}

.first__head {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 118px;
}

.first__dots {
  display: -ms-flexbox;
  display: flex;
  width: 265px;
  height: 189px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first__dots-line {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.first__dots span {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-color: white;
}

.first__dots span.yellow {
  background-color: #ffc70a;
}

.first__dots span.green {
  background-color: #00fce2;
}

.first__head-text {
  margin-left: 38px;
}

.first__title {
  margin: 0;
  margin-top: 6px;
  font-family: Geometria;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: .9;
  letter-spacing: 0.96px;
  text-align: left;
  color: #0e0e0e;
}

.first__title-fw {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 21px;
  font-size: 60px;
  letter-spacing: 1.2px;
}

.first__title-num {
  font-size: 72px;
  letter-spacing: 1.44px;
  color: #ffc70a;
}

.first__subtitle {
  margin-top: 28px;
  font-family: Geometria;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.36px;
  text-align: left;
  color: #0e0e0e;
}

.first__wrapper {
  width: 100%;
  margin-top: 120px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 800px 800px auto;
  grid-template-columns: auto 800px 800px auto;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-grid-column-align: center;
  justify-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.first__slider {
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first__slider-next:after {
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.calc {
  position: relative;
  -ms-grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.calc:after {
  z-index: 1;
  position: absolute;
  bottom: -20px;
  left: -40px;
  display: block;
  width: 83px;
  height: 59px;
  content: '';
  background: url(../images/dec__circles.png);
}

.calc__wrap {
  z-index: 2;
  position: relative;
  width: 634px;
  height: 935px;
  padding: 44px 34px 64px;
  border-radius: 20px;
  box-shadow: 0px 21px 21px 0 rgba(0, 1, 2, 0.14);
  background-color: #ffffff;
}

.calc__title {
  max-width: 415px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
}

.calc__input-block {
  width: 100%;
}

.calc__input-block .ui-selectmenu-text {
  margin-top: 23px;
  margin-left: 48px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.36px;
  color: #000000;
}

.calc__input-block .ui-selectmenu-button {
  width: 100%;
  height: 76px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 5px 12px 0 rgba(0, 1, 2, 0.14);
  background-color: #ffffff;
}

.calc__input-block .ui-selectmenu-button-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.calc__input-block .ui-selectmenu-icon {
  width: 20px;
  height: 22px;
  margin-top: 32px;
  margin-right: 28px;
  background: url(../images/select-arr.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.calc__input-block .ui-button:hover .ui-icon {
  background: url(../images/select-arr.png);
}

.calc__input-block .ui-button:active .ui-icon,
.calc__input-block .ui-button:focus .ui-icon {
  margin-top: 25px;
  background: url(../images/select-arr.png);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.calc__input-block .ui-state-default,
.calc__input-block .ui-widget-content .ui-state-default {
  top: -17px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  box-shadow: 0px 9px 13px 0 rgba(0, 1, 2, 0.14);
  border: solid 3px #ffffff;
  background-color: #00fce2;
  outline: none;
}

.calc__input-block .ui-state-default:hover,
.calc__input-block .ui-widget-content .ui-state-default:hover {
  box-shadow: 0px 3px 5px 0 rgba(0, 1, 2, 0.14);
}

.calc__input-block .ui-slider .ui-slider-range {
  background-color: #00fce2;
}

.calc__slider-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calc__slider-area-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% / 1 - 150px);
}

.calc__slider-text-col {
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.calc__input-label {
  display: block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.36px;
  text-align: center;
  color: #ffc600;
}

.calc__input-input {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.36px;
  text-align: center;
  color: #000000;
}

.calc__input-farea {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.48px;
  text-align: center;
  color: #000000;
}

.calc__bnt {
  display: block;
  width: 410px;
  height: 75px;
  margin: 66px auto;
  box-shadow: 0px 9px 13px 0 rgba(0, 1, 2, 0.14);
  border: solid 3px #ffffff;
  border-radius: 10px;
  background-color: #00fce2;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.42px;
  text-align: center;
  color: #161616;
}

.calc__input-area-slider.ui-widget.ui-widget-content {
  width: calc(100% / 1 - 15px);
  margin-left: 15px;
  height: 1px;
  background: #00fce2;
}

#areaInput {
  border: none;
  width: 60px;
  margin-left: auto;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.48px;
  text-align: right;
  color: #000000;
}

.dec-slider {
  z-index: 0;
  position: absolute;
  box-shadow: 0px 16px 21px 0 rgba(0, 1, 2, 0.14);
}

.dec-slider img {
  display: block;
}

.broadcast {
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.broadcast__title {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: 0.96px;
  text-align: center;
  color: #000000;
}

.broadcast__subtitle {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.36px;
  text-align: left;
  color: #0e0e0e;
}

.broadcast__video {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.broadcast__video-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  box-shadow: 0px 5px 6px 0 rgba(0, 1, 2, 0.14);
  border: solid 3px #ffffff;
  border-radius: 35px;
  background-color: #00fce2;
}

.broadcast__video-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-5px, -50%);
  transform: translate(-5px, -50%);
  display: block;
  content: '';
  border: 14px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left-color: black;
}

.servise {
  -ms-grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.servise__title {
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: 0.84px;
  text-align: center;
  color: #000000;
}

.servise__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 634px;
  margin-top: 30px;
  padding: 53px 60px 43px;
  border-radius: 10px;
  box-shadow: 0px 16px 21px 0 rgba(0, 1, 2, 0.14);
  background-color: #ffffff;
}

.servise__item-header {
  position: relative;
}

.servise__item-header-text {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000000;
}

.servise__item-header-btn {
  position: absolute;
  right: -32px;
  top: 50%;
  width: 61px;
  height: 61px;
  margin-top: 6px;
  background: url(../images/+.png);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.open-block .servise__item-header-btn {
  right: -24px;
  width: 45px;
  height: 32px;
  background: url(../images/-.png);
}

.servise__item-content {
  padding-top: 36px;
  padding-bottom: 49px;
  display: none;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.32px;
  text-align: left;
  color: #000000;
}

.open-block .servise__item-content {
  display: block;
}

.discount {
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: hidden;
  position: relative;
  max-width: 634px;
  border-radius: 10px;
  box-shadow: 0px 4px 21px 0 rgba(0, 1, 2, 0.14);
  background-color: #ffffff;
}

.discount__img {
  width: 634px;
  height: 171px;
}

.discount__content {
  padding: 43px 58px 97px;
}

.discount__title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.72px;
  text-align: center;
  color: #000000;
}

.discount__text {
  margin: 48px auto;
  max-width: 467px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.36px;
  text-align: center;
  color: #000000;
}

.discount__btn {
  display: block;
  width: 410px;
  height: 75px;
}

.discount__decelem {
  position: absolute;
  bottom: 29px;
  left: 50%;
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
}

.portfolio__title {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: 0.96px;
  text-align: left;
  color: #000000;
}

.portfolio__slider {
  margin-left: 20%;
}

.portfolio__slider-item {
  z-index: 2;
  position: relative;
  overflow: hidden;
  max-width: 744px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 16px 21px 0 rgba(0, 1, 2, 0.14);
}

.portfolio__slider-wrap {
  position: relative;
  max-width: 744px;
}

.portfolio__slider-wrap:before {
  z-index: 1;
  position: absolute;
  top: -46px;
  right: -69px;
  display: block;
  width: 83px;
  height: 59px;
  content: '';
  background: url(../images/dec__circles.png);
}

.portfolio__slider-wrap:after {
  z-index: 1;
  position: absolute;
  bottom: -46px;
  left: -69px;
  display: block;
  width: 83px;
  height: 59px;
  content: '';
  background: url(../images/dec__circles.png);
}

.portfolio__slider-info {
  padding: 37px 51px 53px;
}

.portfolio__slider-text {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.36px;
  text-align: center;
  color: #000000;
}

.portfolio__slider-text h5 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.48px;
}

.portfolio__slider-btn {
  margin-top: 50px;
  width: 205px;
  height: 57px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.28px;
  text-align: center;
  color: #161616;
}

.portfolio__slider-next:after {
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.contacts__item-text {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
}

.contacts__email {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
}

.contacts__address {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
}

.reviews__wrap {
  position: relative;
  max-width: 630px;
}

.reviews__slider:before {
  display: block;
  width: 83px;
  height: 59px;
  content: '';
  background: url(../images/dec__circles.png);
}

.reviews__slider-prev:after {
  margin-left: 12px;
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.reviews__slider-next:after {
  margin-right: 12px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reviews__item {
  max-width: 630px;
  padding: 47px 34px 51px;
  border-radius: 10px;
  box-shadow: 0px 9px 18px 0 rgba(0, 1, 2, 0.14);
}

.reviews__item h5 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.48px;
  text-align: center;
}

.reviews__item p {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.32px;
  text-align: center;
  color: #000000;
}

.reviews__item-img {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 15px auto 17px;
  background: grey;
  border-radius: 60px;
}

.reviews__item-btn {
  width: 178px;
  height: 43px;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.24px;
  text-align: center;
  color: #161616;
}

.reviews__sv-block {
  height: 28px;
}

.footer__wrap {
  width: 730px;
  height: 123px;
  object-fit: contain;
  background-color: #000000;
}

.footer__nav ul li a {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.28px;
  text-align: center;
  color: #ffba00;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
    width: 1145px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 990px;
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 770px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}