mixin servise()
  +b.SECTION.servise(id='servise').wow.fadeInLeft(data-wow-duration="1.3s" data-wow-delay="1.5s")
    +e.wrapper
      +e.title Які послуги ми надаємо?
      +e.item.open-block
        +e.item-header
          +e.item-header-text Дрібні ремонтні послуги
          +e.item-header-btn
        +e.item-content
          |Втомилися шукати надійного спеціаліста,<br> 
          |який би вирішив ваші дрібні побутові проблеми? 
          |Об'єм роботи - не головне для майстрів нашої команди.<br> 
          |Лічені години - і ваші дрібні побутові питання<br>
          |разом з нами будуть вирішені
      +e.item
        +e.item-header
          +e.item-header-text Косметичний ремонт
          +e.item-header-btn
        +e.item-content
          |Втомилися шукати надійного спеціаліста, 
          |який би вирішив ваші дрібні побутові проблеми? 
          |Об'єм роботи - не головне для майстрів нашої команди. 
          |Лічені години - і ваші дрібні побутові питання
          |разом з нами будуть вирішені
      +e.item
        +e.item-header
          +e.item-header-text Капітальний ремонт
          +e.item-header-btn
        +e.item-content
          |Втомилися шукати надійного спеціаліста, 
          |який би вирішив ваші дрібні побутові проблеми? 
          |Об'єм роботи - не головне для майстрів нашої команди. 
          |Лічені години - і ваші дрібні побутові питання
          |разом з нами будуть вирішені
      +e.item
        +e.item-header
          +e.item-header-text Ремонт під ключ
          +e.item-header-btn
        +e.item-content
          |Втомилися шукати надійного спеціаліста, 
          |який би вирішив ваші дрібні побутові проблеми? 
          |Об'єм роботи - не головне для майстрів нашої команди. 
          |Лічені години - і ваші дрібні побутові питання
          |разом з нами будуть вирішені