.servise
  &__title
    font-size: 18px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 3.56
    letter-spacing: 0.36px
    text-align: left
    color: #0e0e0e
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__item
    font-size: 30px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 1.2
    letter-spacing: 0.6px
    text-align: left
    color: #000000
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-header
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &-text
        font-size: 16px
        font-weight: 500
        font-stretch: normal
        font-style: normal
        line-height: 1.88
        letter-spacing: 0.32px
        text-align: left
        color: #000000
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
      &-btn
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
    &-content
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}