include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header

include first/first
include calc/calc
include broadcast/broadcast
include servise/servise
include discount/discount
include portfolio/portfolio
include contacts/contacts
include reviews/reviews
include map/map

include footer/footer

//- include popup/popup

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Title",
				"author": "Oleh Devolp",
				"description": "Landing"
			})
			
		+b.BODY.page
			block header
				+header()

			block content

			block first
				+first()

					
			.second--block
				.second--block__wrapper

					block servise
						+servise()

					block discount
						+discount()
			
			.third--block

				block portfolio
					+portfolio()

				block contacts
					+contacts()

				block reviews
					+reviews()

			block footer
				+footer()

			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				script( src="libs/twentytwenty/js/jquery.event.move.js")
				script( src="libs/twentytwenty/js/jquery.twentytwenty.js")
				//- script( src="libs/jquery-ui/jquery-ui.js")
				//- script( src="libs/fancybox/dist/jquery.fancybox.min.js")
				script( src="libs/swiper/package/js/swiper.js")
				//- script( src="https://unpkg.com/swiper/js/swiper.js")
				//- script( src="libs/parsleyjs/dist/parsley.min.js")
				// endbuild

				script( src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
