mixin calc()
  +b.SECTION.calc
    +e.wrap
      +e.FORM.form
        +e.title Розрахуйте точну вартість вашого ремонту
        +e.input-block
          +e.LABEL.input-label Який ремонт?
          +e.SELECT.input-select
            option(selected="selected") Дрібний
            option Середній
            option Великий
        +e.input-block
          +e.LABEL.input-label Житловий фонд
          +e.SELECT.input-select
            option(selected="selected") Первинний
            option Вторинний
        +e.input-block.calc__slider-area
          +e.LABEL.input-label Загальна площа
          +e.slider-area-col
            +e.input-area-slider(id='inputAreaSlider')
          +e.slider-text-col
            +e.INPUT.input-input(id='areaInput' type="text" readonly)
            +e.SPAN.input-farea(id="areaInputSpan") кв. м
        +e.input-block
          +e.LABEL.input-label Кількість кімнат, що потребує ремонту
          +e.SELECT.input-select
            option(selected="selected") 1
            option 2
            option 3
            option 4
            option 5
            option 6
        +e.BUTTON.bnt Отримати розрахунок



