.header
  overflow: hidden
  height: 128px
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__container
    box-shadow: 0px 21px 21px 0 rgba(0, 1, 2, 0.14)
  &__wrap
    max-width: 1815px
    margin: 0 auto
    display: flex
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__logo
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-img
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
  &__menu
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-list
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-item
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-link
      font-family: 'Geometria'
      font-size: 21px
      font-weight: 500
      font-stretch: normal
      font-style: normal
      // line-height: 3.05
      letter-spacing: 0.42px
      text-align: center
      color: #0e0e0e
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
  &__get-call
    width: 272px
    height: 61px
    object-fit: contain
    box-shadow: 0px 9px 13px 0 rgba(0, 1, 2, 0.14)
    border: solid 3px #ffffff
    border-radius: 10px
    background-color: #00fce2
    font-size: 16px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    // line-height: 4.75
    letter-spacing: 0.32px
    text-align: center
    color: #161616
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__phone
    font-size: 21px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 3.62
    letter-spacing: 0.42px
    text-align: center
    color: #ffc600
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__langswitch
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}