.portfolio
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__title
    font-size: 48px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 0.75
    letter-spacing: 0.96px
    text-align: left
    color: #000000
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__slider
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &:before
      display: block
      width: 83px
      height: 59px
      content: ''
      background: url(../images/dec__circles.png)
    &:after
      display: block
      width: 83px
      height: 59px
      content: ''
      background: url(../images/dec__circles.png)
    &-wrap
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-show
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-info
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-text
      font-size: 18px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 1.33
      letter-spacing: 0.36px
      text-align: center
      color: #000000
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      h5
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
      p
        font-size: 24px
        line-height: 1.5
        letter-spacing: 0.48px
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
    &-btn
      font-size: 14px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 5.43
      letter-spacing: 0.28px
      text-align: center
      color: #161616
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-nav
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-prev
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-next
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:after
        transform: rotate(135deg)