.portfolio
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: 2
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__title
    font-size: 48px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 0.75
    letter-spacing: 0.96px
    text-align: left
    color: #000000
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__slider
    margin-left: 20%
    max-height: 702px
    padding: 30px
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-item
      z-index: 2
      position: relative
      overflow: hidden
      max-width: 744px
      border-radius: 10px
      background: white
      box-shadow: 0px 16px 21px 0 rgba(0, 1, 2, 0.14)
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-wrap
      position: relative
      max-width: 744px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:before
        z-index: 1
        position: absolute
        top: -46px
        right: -57 - 12px
        display: block
        width: 83px
        height: 59px
        content: ''
        background: url(../images/dec__circles.png)
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
      &:after
        z-index: 1
        position: absolute
        bottom: -46px
        left: -57 - 12px
        display: block
        width: 83px
        height: 59px
        content: ''
        background: url(../images/dec__circles.png)
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
    &-show
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-info
      padding: 37px 51px 53px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-text
      font-size: 18px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 1.33
      letter-spacing: 0.36px
      text-align: center
      color: #000000
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      h5
        font-size: 24px
        line-height: 1.5
        letter-spacing: 0.48px
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
      p
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
    &-btn
      margin-top: 44px
      width: 205px
      height: 57px
      font-size: 14px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      // line-height: 5.43
      letter-spacing: 0.28px
      text-align: center
      color: #161616
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-nav
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-prev
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-next
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:after
        transform: rotate(135deg)