.portfolio
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: 2
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__wrapper
    display: flex
    // width: 100%
    justify-content: space-between
    flex-wrap: wrap
    height: 100%
    margin-right: -88px
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
      max-width: 100%
      flex-direction: column
    @media #{$_xs}
  &__title
    width: 100%
    margin-bottom: 64px
    font-size: 48px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 0.75
    letter-spacing: 0.96px
    text-align: left
    color: #000000
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
      margin-bottom: 53px
      font-size: 42px
      text-align: center
    @media #{$_xs}
  &__slider
    z-index: 2
    position: relative
    margin: -30px
    width: calc(100% / 1 + 60px)
    max-height: 702px
    padding: 30px
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
      width: 100%
      max-height: none
      margin: 0
      padding: 0
    @media #{$_xs}
    &-overlay
      position: relative
      width: 84%//84.546%
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        width: 100%
      @media #{$_xs}
      &:before
        z-index: 1
        position: absolute
        top: -46px
        right: -57 - 12px
        display: block
        width: 83px
        height: 59px
        content: ''
        background: url(../images/dec__circles.png)
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
          display: none
        @media #{$_xs}
      &:after
        z-index: 1
        position: absolute
        bottom: -46px
        left: -57 - 12px
        display: block
        width: 83px
        height: 59px
        content: ''
        background: url(../images/dec__circles.png)
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
          display: none
        @media #{$_xs}
    &-item
      z-index: 2
      position: relative
      overflow: hidden
      max-width: 744px
      border-radius: 10px
      background: white
      box-shadow: 0px 16px 21px 0 rgba(0, 1, 2, 0.14)
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        max-width: 100%
        width: 100%
        border-radius: 0
        box-shadow: none
      @media #{$_xs}
    &-wrap
      // max-width: 744px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        // display: block
        flex-direction: column
      @media #{$_xs}
      // &:before
      //   z-index: 1
      //   position: absolute
      //   top: -46px
      //   right: -57 - 12px
      //   display: block
      //   width: 83px
      //   height: 59px
      //   content: ''
      //   background: url(../images/dec__circles.png)
      //   @media #{$_lg}
      //   @media #{$_md}
      //   @media #{$_sm}
      //   @media #{$_xs}
      // &:after
      //   z-index: 1
      //   position: absolute
      //   bottom: -46px
      //   left: -57 - 12px
      //   display: block
      //   width: 83px
      //   height: 59px
      //   content: ''
      //   background: url(../images/dec__circles.png)
      //   @media #{$_lg}
      //   @media #{$_md}
      //   @media #{$_sm}
      //   @media #{$_xs}
    &-show
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        width: 100%
        box-shadow: 0px 5px 6px 0 rgba(0, 1, 2, 0.14)
      @media #{$_xs}
      &-wrap
        img
          width: 100%
    &-info
      padding: 37px 51px 53px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        z-index: 2
        position: relative
        background: white
        max-width: 643px
        margin: -50px auto 44px
        border-radius: 10px
        background: white
        box-shadow: 0px 5px 6px 0 rgba(0, 1, 2, 0.14)
      @media #{$_xs}
    &-text
      margin: 0 auto
      font-size: 18px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 1.33
      letter-spacing: 0.36px
      text-align: center
      color: #000000
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        max-width: 409px
      @media #{$_xs}
      h5
        font-size: 24px
        line-height: 1.5
        letter-spacing: 0.48px
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
      p
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
    &-btn
      margin-top: 44px
      width: 205px
      height: 57px
      font-size: 14px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      // line-height: 5.43
      letter-spacing: 0.28px
      text-align: center
      color: #161616
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-nav
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        display: none
      @media #{$_xs}
    &-prev
      margin: 40px auto
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-next
      margin: 40px auto
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:after
        transform: rotate(135deg)
  &__more
    display: none
    width: 457px
    height: 85px
    margin: 4px auto 0
    object-fit: contain
    border-radius: 10px
    box-shadow: 0px 9px 13px 0 rgba(0, 1, 2, 0.14)
    border: solid 3px #ffffff
    background-color: #ffba00
    font-size: 21px
    font-weight: bold
    // line-height: 6.4
    letter-spacing: 0.9px
    text-align: center
    color: #161616
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
      display: block
    @media #{$_xs}