mixin broadcast()
  +b.SECTION.broadcast
    +e.H2.title Як ми працюємо online?
    +e.H4.subtitle Пряма трансляція з об'єкту
    +e.video
      +e.IMG(src='images/bg__broadcast.jpg').video-img
      +e.BUTTON.video-btn
