mixin discount()
  +b.SECTION.discount
    +e.img
    +e.content
      +e.title Знижка до 30% при проходженні нашого КВІЗУ
      +e.text 
        |Заповніть форму, дізнайтеся подробиці акції 
        |та отримайте ваш унікальний дизайн-проект
      +e.BUTTON.btn Відповісти на питання