mixin first()
  +b.SECTION.first
    .dec-slider.swiper-container
      .dec-slider-wrapper.swiper-wrapper
        .dec-slider-item.swiper-slide
          IMG(src='images/back_slide1.jpg').dec-slider-img
        .dec-slider-item.swiper-slide
          IMG(src='images/back_slide2.jpg').dec-slider-img
        .dec-slider-item.swiper-slide
          IMG(src='images/back_slide3.jpg').dec-slider-img
    .container
      +e.head
        +e.dots
          +e.dots-line
            SPAN
            SPAN.yellow
            SPAN
            SPAN
          +e.dots-line
            SPAN
            SPAN
            SPAN
            SPAN
          +e.dots-line
            SPAN
            SPAN
            SPAN
            SPAN.green
        +e.head-text
          +e.H1.title
            +e.SPAN.title-fw Ремонт 
            br
            |в Житомирі та області<br> з гарантією 
            +e.SPAN.title-num 3 
            |роки
          +e.H4.subtitle
            |Виключно в строк від провідних спеціалістів по фіксованим цінам
    +e.wrapper
      +e.slider-wrapper
        +e.slider.swiper-container
          +e.slider-wrap.swiper-wrapper
            +e.slider-item.swiper-slide
              +e.IMG(src="images/slide1.jpg").slider-img
            +e.slider-item.swiper-slide
              +e.IMG(src="images/slide1.jpg").slider-img
            +e.slider-item.swiper-slide
              +e.IMG(src="images/slide1.jpg").slider-img
        +e.slider-nav
          +e.BUTTON.slider-prev.slider-nav
          +e.BUTTON.slider-next.slider-nav
      +broadcast()
      +calc()