.first
  background: url(../images/bg__1s.jpg) center right
  background-repeat: no-repeat
  // background: grey //remo
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  .container
    z-index: 2
    position: relative
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__head
    width: 100%
    display: flex
    justify-content: flex-end
    margin-top: 118px
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__dots
    display: flex
    width: 265px
    height: 189px
    flex-direction: column
    justify-content: space-between
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-line
      display: flex
      width: 100%
      justify-content: space-between
      align-items: center
    span
      display: block
      width: 38px
      height: 38px
      border-radius: 19px
      background-color: white
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &.yellow
        background-color: #ffc70a
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
      &.green
        background-color: #00fce2
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
  &__head-text
    margin-left: 38px
  &__title
    margin: 0
    margin-top: 6px
    font-family: Geometria
    font-size: 48px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: .9
    letter-spacing: 0.96px
    text-align: left
    color: #0e0e0e
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-fw
      display: inline-block
      margin-top: 1px
      margin-bottom: 21px
      font-size: 60px
      letter-spacing: 1.2px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-num
      font-size: 72px
      letter-spacing: 1.44px
      color: #ffc70a
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
  &__subtitle
    margin-top: 28px
    font-family: Geometria
    font-size: 18px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    // line-height: 3.56
    letter-spacing: 0.36px
    text-align: left
    color: #0e0e0e
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__wrapper
    width: 100%
    margin-top: 120px
    position: relative
    display: grid
    grid-template-columns: auto 800px 800px auto 
    grid-template-rows: auto auto auto auto
    justify-content: flex-end
    justify-items: center
    align-items: center
  &__slider
    grid-column-start: 3
    grid-column-end: 4
    grid-row-start: 1
    grid-row-end: 3
    width: 100%
    height: 100%
    align-items: center
    justify-content: space-between
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &-wrap
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-item
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-img
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-nav
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-prev
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-next
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      &:after
        transform: rotate(135deg)