mixin mobileForm2()
  +b.mobileForm2
    +e.wrapper
      +e.FORM.form
        +e.H3.title Знижка до 30% на власний дизайн-проект!
        +e.P.subtitle Заповніть форму, дізнайтеся подробиці акції та отримайте ваш унікальний дизайн-проект
        +e.input-block.hiden-label
          //- +e.LABEL.input-label Ім’я
          +e.INPUT.input-input(placeholder="Ім’я")
        +e.input-block.hiden-label
          //- +e.LABEL.input-label Телефон
          +e.INPUT.input-input(placeholder="Телефон")
        +e.BUTTON.btn.style--btn Отримати подарунок
        +e.decelem
          <svg xmlns="http://www.w3.org/2000/svg" width="46.677" height="33.335">
            <path fill="#00FCE2" fill-rule="evenodd" d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM12.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM22.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM32.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM2.5 10a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM12.5 10a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM22.5 10a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM32.5 10a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM2.5 20a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM12.5 20a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM22.5 20a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM32.5 20a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5z"/>
          </svg>