mixin blog()
  +b.SECTION.blog
    +e.nav-line
      +e.NAV.nav-nav.inner-container
        +e.UL
          +e.LI.active
            +e.A(href="") РЕМОНТ КВАРТИРЫ
          +e.LI
            +e.A(href="") РЕМОНТ ОФИСОВ
          +e.LI
            +e.A(href="") РЕМОНТ ВАННОЙ
          +e.LI
            +e.A(href="") МАШИННАЯ ШТУКАТУРКА СТЕН
          +e.LI
            +e.A(href="") БЕЗВОЗДУШНАЯ ПОКРАСКА
    .inner-container
      +e.content
        +e.item.content-main
          +e.H1.title Наш Блог
          +e.NAV.add-menu
            +e.UL
              +e.LI
                +e.A(href="") РЕМОНТ КВАРТИРЫ
              +e.LI
                +e.A(href="") РЕМОНТ ОФИСОВ
              +e.LI
                +e.A(href="") РЕМОНТ ВАННОЙ
              +e.LI
                +e.A(href="") МАШИННАЯ ШТУКАТУРКА СТЕН
              +e.LI
                +e.A(href="") БЕЗВОЗДУШНАЯ ПОКРАСКА
                //- 1
        +e.item
          +e.item-show
            +e.item-show-wrap
              +e.IMG(src="images/port_slide-before.jpg")
          +e.item-info
            +e.item-text
              +e.H5 Планирование ремонта квартиры.
              +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
            +e.BUTTON.item-btn.style--btn Читать дальше
              //- 2
        +e.item
          +e.item-show
            +e.item-show-wrap
              +e.IMG(src="images/port_slide-before.jpg")
          +e.item-info
            +e.item-text
              +e.H5 Планирование ремонта квартиры.
              +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
            +e.BUTTON.item-btn.style--btn Читать дальше
            //- 3
        +e.item
          +e.item-show
            +e.item-show-wrap
              +e.IMG(src="images/port_slide-before.jpg")
          +e.item-info
            +e.item-text
              +e.H5 Планирование ремонта квартиры.
              +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
            +e.BUTTON.item-btn.style--btn Читать дальше
        +e.item
          +e.item-show
            +e.item-show-wrap
              +e.IMG(src="images/port_slide-before.jpg")
          +e.item-info
            +e.item-text
              +e.H5 Планирование ремонта квартиры.
              +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
            +e.BUTTON.item-btn.style--btn Читать дальше
        +e.item
          +e.item-show
            +e.item-show-wrap
              +e.IMG(src="images/port_slide-before.jpg")
          +e.item-info
            +e.item-text
              +e.H5 Планирование ремонта квартиры.
              +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
            +e.BUTTON.item-btn.style--btn Читать дальше
        +e.item
          +e.item-show
            +e.item-show-wrap
              +e.IMG(src="images/port_slide-before.jpg")
          +e.item-info
            +e.item-text
              +e.H5 Планирование ремонта квартиры.
              +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
            +e.BUTTON.item-btn.style--btn Читать дальше
        +e.item
          +e.item-show
            +e.item-show-wrap
              +e.IMG(src="images/port_slide-before.jpg")
          +e.item-info
            +e.item-text
              +e.H5 Планирование ремонта квартиры.
              +e.P Залогом успеха отличного результата ремонтных работ является правильное планирование ремонта...
            +e.BUTTON.item-btn.style--btn Читать дальше