.footer
  padding-top: 30px
  background: #000
  color: white
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  .container
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__wrap
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    @media #{$_lg}
    @media #{$_md}
      flex-direction: column
    @media #{$_sm}
    @media #{$_xs}
  &__logo
    display: flex
    justify-content: center
    align-items: center
    width: 140px
    margin-top: -19px
    margin-right: 11.77%
    @media #{$_lg}
    @media #{$_md}
      margin: 0
    @media #{$_sm}
    @media #{$_xs}
    &-link
      display: block
      font-family: AbhayaLibre
      font-size: 27.5px
      font-weight: 800
      font-style: normal
      font-stretch: normal
      line-height: 0.94
      letter-spacing: normal
      text-align: center
      text-transform: uppercase
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
  &__form
    margin-bottom: 25px
    margin-right: auto
    @media #{$_lg}
    @media #{$_md}
      margin: 40px auto 50px
    @media #{$_sm}
    @media #{$_xs}
    & form
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      width: 262px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
  &__label
    width: 100%
    font-family: HelveticaNeueCyr-Roman
    font-size: 10px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 2.2
    letter-spacing: 0.4px
    text-align: left
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__input
    width: 165px
    height: 26px
    padding: 0 9px
    border: none
    border-bottom: 1px solid white
    background: transparent
    font-family: HelveticaNeueCyr-Roman
    font-size: 11.5px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 3.74
    letter-spacing: 0.46px
    text-align: left
    color: white
    outline-color: transparent
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__btn-submit
    width: 84px
    height: 26px
    border: solid 1px rgb(255, 255, 255)
    // background-color: rgb(255, 255, 255)
    font-family: HelveticaNeueCyr
    font-size: 8.5px
    font-weight: 500
    letter-spacing: 0.34px
    text-align: center
    color: white
    transition: all .2s
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    &:hover
      border-color: #cc8d1e
      background-color: #cc8d1e
      color: black
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
  &__nav
    width: 28.1%
    // height: 100%
    // margin-top: 10px
    @media #{$_lg}
    @media #{$_md}
      width: 35%
    @media #{$_sm}
      width: 60%
    @media #{$_xs}
    & ul
      display: flex
      flex-direction: column
      flex-wrap: wrap
      width: 100%
      max-height: 108px
      // margin-bottom: -8px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    & li
      width: 50%
      // margin: 10px 0
      @media #{$_lg}
      @media #{$_md}
        text-align: center
      @media #{$_sm}
      @media #{$_xs}
    & a
      font-family: HelveticaNeueCyr-Roman
      font-size: 11px
      font-weight: normal
      font-style: normal
      font-stretch: normal
      line-height: 3
      letter-spacing: 0.44px
      text-align: leftc
      color: white
      transition: color 0.3s
      &:hover
        color: #cc8d1e
      @media #{$_lg}
      @media #{$_md}
        text-align: center
      @media #{$_sm}
      @media #{$_xs}
  &__contact
    margin-right: 12px
    @media #{$_lg}
    @media #{$_md}
      margin-top: 40px
    @media #{$_sm}
    @media #{$_xs}
    &-title
      margin-top: 6px
      font-family: HelveticaNeueCyr-Roman
      font-size: 10px
      font-weight: normal
      font-style: normal
      font-stretch: normal
      line-height: 2.2
      letter-spacing: 0.4px
      text-align: left
      @media #{$_lg}
      @media #{$_md}
        text-align: center
      @media #{$_sm}
      @media #{$_xs}
    & p
      letter-spacing: 0.6px
      font-size: 11px
      margin: 7px 0
      @media #{$_lg}
      @media #{$_md}
        text-align: center
      @media #{$_sm}
      @media #{$_xs}
    & a
      color: white
      transition: color 0.3s
      &:hover
        color: #cc8d1e
  &__copyright
    font-family: HelveticaNeueCyr-Roman
    font-size: 10px
    letter-spacing: 0.4px
    text-align: left
    color: rgba(255, 255, 255, 0.22)
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
      text-align: center
    @media #{$_xs}
    &-line
      width: 100%
      padding: 14px 0 27px
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
        padding-top: 15%
        text-align: center
      @media #{$_xs}