mixin footer()
  +b.FOOTER.footer
    +map()
    +e.wrap
      +e.NAV.nav
        +e.UL
          +e.LI
            +e.A(href="") Головна
          +e.LI
            +e.A(href="") Блог
          +e.LI
            +e.A(href="") Дизайн-проекти
          +e.LI
            +e.A(href="") Контакти
      +e.policy Политика конфиденфиальности