.footer
  width: 730px
  height: 123px
  object-fit: contain
  background-color: #000000
  @media #{$_lg}
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__wrap
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
  &__nav
    @media #{$_lg}
    @media #{$_md}
    @media #{$_sm}
    @media #{$_xs}
    ul
      @media #{$_lg}
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
      li
        @media #{$_lg}
        @media #{$_md}
        @media #{$_sm}
        @media #{$_xs}
        a
          font-size: 14px
          font-weight: bold
          font-stretch: normal
          font-style: normal
          line-height: 5.11
          letter-spacing: 0.28px
          text-align: center
          color: #ffba00
          @media #{$_lg}
          @media #{$_md}
          @media #{$_sm}
          @media #{$_xs}